/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

body {
	--reading-progress: var(--scrollbar-active-thumb-bg);
}

.theme-light {
	--reading-progress-background: var(--background-activated-tab-header-light);
	--reading-progress-box-shadow: var(--shadow-activated-tab-header-light);


}

.theme-dark {
	--reading-progress-background: var(--background-activated-tab-header-dark);
	--reading-progress-box-shadow: var(--shadow-activated-tab-header-dark);
}

/* 进度条样式 */

.reading-progress {
	border-radius: 5px;
	align-items: center;
	display: flex;
	height: 6px;
	width: 172px;
	position: relative;
	justify-content: flex-start;
	overflow: hidden;
	background: var(--reading-progress-background);
	box-shadow: var(--reading-progress-box-shadow);
}

.progress-border {
	width: 172px;
	height: 10px;
	position: absolute;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--progress-value-color1);
	opacity: 0;
	transition: opacity 0.18s ease;
	z-index: 99;
}

.progress-border.active {
	opacity: 1;
}

.progress-border.active + .reading-progress .progress-value {
	opacity: 0;
}

.vertical-tab-content.reading-progress-desktop-setting {
	container-type: normal !important;
}

.vertical-tab-content.reading-progress-desktop-setting .setting-item input[type='range'] {
	width: 150px;
	z-index: 100;
}

.reading-progress-desktop-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	pointer-events: none;
	transition: opacity 0.18s ease;
}

.reading-progress-desktop-background.active {
	opacity: 1;
}

.reading-progress,
.progress-border {
	transition: width 0.1s ease;
}

/* 注册进度条颜色 */

@property --progress-value-color1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #4facfe;
}

@property --progress-value-color2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #00f2fe;
}

/* 流光动画 */

@keyframes shineFlow {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

/* 进度条样式 */

.progress-value {
	border-radius: 5px;
	height: 6px;
	width: 100%;
	background-image: linear-gradient(to right, var(--progress-value-color1), var(--progress-value-color2));
	opacity: 0.3;
	position: relative;
	transition: width 0.1s ease, opacity 0.18s ease, --progress-value-color1 0.18s ease, --progress-value-color2 0.18s ease;
}

.progress-value.empty {
	width: 100% !important;
}

.progress-value.shineFlow {
	background-image: linear-gradient(
        to right,
        var(--progress-value-color1),
        var(--progress-value-color2),
        var(--progress-value-color1)
    );
	background-size: 200% 100%;
    animation: shineFlow 5s linear infinite;
}

.theme-dark .progress-value,
.theme-dark .progress-value.shineFlow {
	--progress-value-color1:#005bea;
	--progress-value-color2: #00c6fb;
}

.theme-light .progress-value.markdown,
.theme-light .progress-value.search,
.theme-light .progress-value.markdown.shineFlow,
.theme-light .progress-value.search.shineFlow {
	--progress-value-color1:#4facfe;
	--progress-value-color2: #00f2fe;
}

.theme-dark .progress-value.markdown,
.theme-dark .progress-value.search,
.theme-dark .progress-value.markdown.shineFlow,
.theme-dark .progress-value.search.shineFlow {
	--progress-value-color1:#005bea;
	--progress-value-color2: #00c6fb;
}

.theme-light .progress-value.pdf,
.theme-light .progress-value.pdf.shineFlow {
	--progress-value-color1:#fa709a;
	--progress-value-color2: #fee140;
}

.theme-dark .progress-value.pdf,
.theme-dark .progress-value.pdf.shineFlow {
	--progress-value-color1:#fe5196;
	--progress-value-color2: #f77062;
}

.theme-light .progress-value.bases,
.theme-light .progress-value.bases.shineFlow {
	--progress-value-color1: #6f86d6;
	--progress-value-color2: #48c6ef;
}

.theme-dark .progress-value.bases,
.theme-dark .progress-value.bases.shineFlow {
	--progress-value-color1:#6a11cb;
	--progress-value-color2: #2575fc;
}

.progress-value.thino_view,
.progress-value.thino_view.shineFlow {
	--progress-value-color1:#43d3ff;
	--progress-value-color2: #baaaff;
}

.progress-value.markdown,
.progress-value.pdf,
.progress-value.search,
.progress-value.bases,
.progress-value.thino_view {
	opacity: 1;
}

/* 全屏按钮样式 */

.status-bar-item.maximize-minimize:hover,
.status-bar-item.reading-progress-bar:hover,
.status-bar-item.view-type:hover {
	color: var(--status-bar-text-color);
	background-color: var(--background-modifier-hover);
}

.status-bar-item.maximize-minimize.ban {
	color: rgb(232, 17, 35);
	user-select: none !important;
	pointer-events: none !important;
}

/* 其他样式 */

.status-bar .status-bar-item.plugin-reading-progress-desktop.maximize-minimize {
	order: 1;
}

.status-bar .status-bar-item.plugin-reading-progress-desktop.reading-progress-bar {
	order: 2;
}

.status-bar .status-bar-item.plugin-reading-progress-desktop.view-type {
	order: 3;
}

.status-bar .status-bar-item.plugin-reading-progress-desktop.hidden {
	display: none;
}

.app-container .status-bar.highlight {
	z-index: calc(var(--layer-modal) + 1);
}